<app-my-header name="Лабораторна робота №1"> </app-my-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Завдання №3</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        Згенерувати матрицю розміром NxN. Знайти суму кожного рядка матриці. Виокремити рядки за допомогою кольору.
      </ion-item>

      <ion-item>
        <ion-input label="N" labelPlacement="fixed" type="number" [(ngModel)]="n"></ion-input>
      </ion-item>
      <ion-item>
        <ion-button (click)="calcMatrix()">Згенерувати і знайти</ion-button>
      </ion-item>

      @if (matrixError) {
      <p>Уведіть всі значення</p>
      }

      @if (matrix.length) {
      <ion-grid>
        @for (row of matrix; track row; let i = $index) {
        <ion-row [style.background-color]="i % 2 === 0 ? 'pink' : 'lightblue'">
          @for (cell of row; track cell) {
          <ion-col>{{ cell }}</ion-col>
          }
          <ion-col><strong>{{ rowSums[i] }}</strong></ion-col>
        </ion-row>
        }
      </ion-grid>
      }
    </ion-card-content>
  </ion-card>
</ion-content>