<!-- @for (product of products; track product) {
<ion-card>
  <ion-card-header>
    <ion-card-title>{{ product.name }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-label>{{ product.displayInfo() }}</ion-label>
    </ion-item>
    <ion-button (click)="buy(product)">Купити</ion-button>
  </ion-card-content>
</ion-card>
} -->

<app-add-product (onAdd)="addProduct($event)"></app-add-product>

<ion-card>
  <ion-card-header>
    <ion-card-title>Фільтри</ion-card-title>
  </ion-card-header>
  <ion-card-content>

    <p><strong>Категорії:</strong></p>
    @for (cat of allCategories; track cat) {
    <ion-item>
      <ion-checkbox [checked]="selectedCategories.includes(cat)"
        (ionChange)="onCategoryToggle(cat, $any($event).detail.checked)" labelPlacement="end">{{ cat }}</ion-checkbox>
    </ion-item>
    }

    <p><strong>Ціна:</strong></p>
    <ion-item>
      <ion-input label="Від" type="number" [value]="minPriceInput"
        (ionInput)="onMinPriceChange($any($event).detail.value)" placeholder="0"></ion-input>
    </ion-item>
    @if (minPriceError) {
    <p style="color:red">{{ minPriceError }}</p>
    }

    <ion-item>
      <ion-input label="До" type="number" [value]="maxPriceInput"
        (ionInput)="onMaxPriceChange($any($event).detail.value)" placeholder="без обмеження"></ion-input>
    </ion-item>
    @if (maxPriceError) {
    <p style="color:red">{{ maxPriceError }}</p>
    }
    @if (priceRangeError) {
    <p style="color:red">{{ priceRangeError }}</p>
    }

  </ion-card-content>
</ion-card>

@if (noResultsMessage) {
<ion-card>
  <ion-card-content>
    <p>{{ noResultsMessage }}</p>
  </ion-card-content>
</ion-card>
}

@for (product of filteredProducts(); track product; let i = $index) {
@if (editingIndex === i) {
<app-edit-product [product]="product" [index]="i" (onSave)="saveEdit($event)" (onCancel)="cancelEdit()">
</app-edit-product>
} @else {
<ion-card>
  <ion-card-header>
    <ion-card-title>{{ product.name }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-label>{{ product.displayInfo() }}</ion-label>
    </ion-item>
    <ion-button (click)="startEdit(i)">Редагувати</ion-button>
    <ion-button color="danger" (click)="deleteProduct(i)">Видалити</ion-button>
  </ion-card-content>
</ion-card>
}
}